a.exy-tool__no-style-link  
  color: inherit
  text-decoration: none
 

for num in (0..100)
  .exy-tool__spaced-{num}
    margin-left: (num)px
    margin-right: (num)px
    margin-top: (num/2)px
    margin-bottom: (num/2)px

  .exy-tool__enlarge-{num} 
    padding-left: (num)px
    padding-right: (num)px
    padding-top: (num/2)px
    padding-bottom: (num/2)px
