div.exy-btn__group {
  display:flex;
}

div.exy-btn__group button.exy-btn__flat.exy-btn__r-right {
  margin-left: -1px;
  border-left: 1px rgba(255, 255, 255, 0.3) solid;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
div.exy-btn__group button.exy-btn__flat.exy-btn__r-left {
  margin-right: -1px;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
div.exy-btn__group button.exy-btn__flat.exy-btn__r-none {
  margin-left: -3px;
  margin-right: -3px;
  border-radius: 0;
  border-left: 1px rgba(255, 255, 255, 0.3) solid;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
}

button.exy-btn__flat {
    padding: 12px 40px 12px 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border-radius: 3px;
    border: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3.75px;
    margin-left: 3.75px;
    cursor: pointer;
}

button.exy-btn__flat.exy-btn__shadow {
  box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
}

button.exy-btn__flat a {
  color: #fff;
  text-decoration: none;
  display: block;
}
