button.exy-btn__classic {
  background-color: #ffffff;
  border: 1px black solid;
  border-radius: 5px;
}
button.exy-btn__classic:hover {
  background-color: #D6D6D6;
  cursor: pointer;
}
button.exy-btn__classic:active {
  background-color: #B3B3B3;
  border: 1px black solid;
}

button.exy-btn__classic.exy-btn__r-left {
  border-radius: 20px 0px 0px 20px;
}
button.exy-btn__classic.exy-btn__r-right {
  border-radius: 0px 20px 20px 0px;
}
button.exy-btn__classic.exy-btn__r-all {
  border-radius: 20px;
}
button.exy-btn__classic.exy-btn__r-none {
  border-radius: 0px;
}

div.exy-btn__group button.exy-btn__classic.exy-btn__r-right {
  margin-left: -1px;
  border-left-width: 0px;
}
div.exy-btn__group button.exy-btn__classic.exy-btn__r-left {
  margin-right: -1px;
  border-right-width: 0px;
}
div.exy-btn__group button.exy-btn__classic.exy-btn__r-none {
  margin-left: -3px;
  margin-right: -3px;


}

button.exy-btn__classic.exy-btn__tiny {
  padding: 1px;
  font-size: 10px;
}
button.exy-btn__classic.exy-btn__small {
  padding: 5px;
  font-size: 12.5px;
}
button.exy-btn__classic.exy-btn__medium {
  padding: 10px;
  font-size: 13px;
}
button.exy-btn__classic.exy-btn__large {
  padding: 20px;
  font-size: 15px;
}
button.exy-btn__classic.exy-btn__xl {
  padding: 32.5px;
  font-size: 20px;
}

button.exy-btn__flat {
    padding: 12px 40px 12px 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
    border: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3.75px;
    margin-left: 3.75px;
    cursor: pointer;
}

button.exy-btn__flat a, button.exy-btn__classic {
  color: #fff;
  text-decoration: none;
  display: block;
}
