div.exy-card__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

div.exy-card__flat {
	border-radius: 2px;
	min-width: 30%;
	background-color: #E3E3E3;
	
	padding: 3px;
	margin-bottom: 20px;
}

div.exy-card__flat p.exy-card__link {
	text-align: right;
}
div.exy-card__flat p.exy-card__link a, div.big-modal p.exy-card__link a {
	padding: 5px 7.5px 5px 7.5px;
	color: #fff;
	text-decoration: none;
	border-radius: 2px;
}	

div.exy-card__flat.exy-card__red {
	border-top: 5px #f44336 solid;
}
div.exy-card__flat.exy-card__yellow {
	border-top: 5px #ffeb3b solid;
}
div.exy-card__flat.exy-card__orange {
	border-top: 5px #ff9800 solid;
}
div.exy-card__flat.exy-card__green {
	border-top: 5px #4caf50 solid;
}
div.exy-card__flat.exy-card__l-green {
	border-top: 5px #8bc34a solid;
}
div.exy-card__flat.exy-card__blue {
	border-top: 5px #1976d2 solid;
}
div.exy-card__flat.exy-card__l-blue {
	border-top: 5px #03a9f4 solid;
}

div.exy-card__flat.exy-card__red p.exy-card__link a, div.big-modal.red > p.exy-card__link a {
	background-color: #f44336;
}
div.exy-card__flat.exy-card__yellow p.exy-card__link a, div.big-modal.yellow > p.exy-card__link a {
	background-color: #ffeb3b;
}
div.exy-card__flat.exy-card__orange p.exy-card__link a, div.big-modal.orange > p.exy-card__link a {
	background-color: #ff9800;
}
div.exy-card__flat.exy-card__green p.exy-card__link a, div.big-modal.green > p.exy-card__link a {
	background-color: #4caf50;
}
div.exy-card__flat.exy-card__l-green p.exy-card__link a, div.big-modal.l-green > p.exy-card__link a {
	background-color: #8bc34a;
}
div.exy-card__flat.exy-card__blue p.exy-card__link a, div.big-modal.blue > p.exy-card__link a {
	background-color: #1976d2;
}
div.exy-card__flat.exy-card__l-blue p.exy-card__link a, div.big-modal.l-blue > p.exy-card__link a {
	background-color: #03a9f4;
}
