div.exy-cases__triple {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 60px;
}
div.exy-cases__triple div.exy-cases__tile {
    max-width: 30%;
    min-width: 30%;
}
div.exy-cases__triple div.exy-cases__tile div.exy-cases__tile-img {
   
}
div.exy-cases__triple div.exy-cases__tile div.exy-cases__tile-img img {
    width: 150px;
    width: 150px;
}
div.exy-cases__triple div.exy-cases__tile div.exy-cases__tile-img img:hover {

}
div.exy-cases__triple hr.exy-cases__sep {
    display: none;
}

div.exy-cases__triple div.exy-cases__tile h3 {
    font-size: 30px;
}
@media screen and (max-width: 730px) {
    div.exy-cases__triple {
        flex-direction: column;
    }
    div.exy-cases__triple div.exy-cases__tile {
    max-width: 100%;
    min-width: 100%;
    }
    div.exy-cases__triple hr.exy-cases__sep {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1000px) {
    div.exy-cases__triple {
        justify-content: space-around;
    }
}

   div.exy-cases_double {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 60px;
}
   div.exy-cases_double  div.exy-cases_tile {
    max-width: 50%;
    min-width: 50%;
}
   div.exy-cases_double  div.exy-cases_tile img {
    max-width: 90%;
    max-height: 90%;
}
   div.exy-cases_double  div.exy-cases_tile img:hover {

}

   div.exy-cases_double  div.exy-cases_tile h3 {
    font-size: 33px;
}
@media screen and (max-width: 730px) {
       div.exy-cases_double {
        flex-direction: column;
    }
       div.exy-cases_double  div.exy-cases_tile {
    max-width: 100%;
    min-width: 100%;
    }
}
@media screen and (min-width: 1000px) {
       div.exy-cases_double {
        justify-content: space-around;
    }
}

   div.exy-cases_quatro {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 60px;
    flex-wrap: wrap-reverse;
}
   div.exy-cases_quatro  div.exy-cases_tile {
    max-width: 25%;
    min-width: 25%;
    padding: 5px;
}
   div.exy-cases_quatro  div.exy-cases_tile h3 {
    font-size: 20px;
}
   div.exy-cases_quatro  div.exy-cases_tile  div.exy-cases_tile-img {
    
}
   div.exy-cases_quatro  div.exy-cases_tile  div.exy-cases_tile-img img {
    width: 120px;
    width: 120px;
}
   div.exy-cases_quatro  div.exy-cases_tile  div.exy-cases_tile-img img:hover {

}

   div.exy-cases_quatro  div.exy-cases_tile h3 {
    font-size: 33px;
}
@media screen and (max-width: 730px) {
       div.exy-cases_quatro {
        flex-wrap: wrap;
    }
       div.exy-cases_quatro  div.exy-cases_tile {
    max-width: 40%;
    min-width: 40%;
    width: 40%;
    }
}
@media screen and (min-width: 1000px) {
       div.exy-cases_quatro {
        justify-content: space-around;
    }
}
