* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 7.5px;
}
p {
  font-size: 13.5px;
}
a {
  color: #039be5;
}
a:visited {
  color: #039be5;
}
