.exy-border__0 {
  border: 0px black solid;
}
.exy-border__1 {
  border: 1px black solid;
}
.exy-border__2 {
  border: 2px black solid;
}
.exy-border__3 {
  border: 3px black solid;
}
.exy-border__4 {
  border: 4px black solid;
}
.exy-border__5 {
  border: 5px black solid;
}
.exy-border__6 {
  border: 6px black solid;
}
.exy-border__7 {
  border: 7px black solid;
}
.exy-border__8 {
  border: 8px black solid;
}
.exy-border__9 {
  border: 9px black solid;
}
.exy-border__10 {
  border: 10px black solid;
}
.exy-border__15 {
  border: 15px black solid;
}
.exy-border__20 {
  border: 20px black solid;
}
.exy-border__25 {
  border: 25px black solid;
}
.exy-border__30 {
  border: 30px black solid;
}
.exy-border__33 {
  border: 33px black solid;
}
.exy-border__40 {
  border: 40px black solid;
}
.exy-border__45 {
  border: 45px black solid;
}
.exy-border__50 {
  border: 50px black solid;
}
