.exy-border__0 {
  border: 0px black solid !important;
}
.exy-border__1 {
  border: 1px black solid !important;
}
.exy-border__2 {
  border: 2px black solid !important;
}
.exy-border__3 {
  border: 3px black solid !important;
}
.exy-border__4 {
  border: 4px black solid !important;
}
.exy-border__5 {
  border: 5px black solid !important;
}
.exy-border__6 {
  border: 6px black solid !important;
}
.exy-border__7 {
  border: 7px black solid !important;
}
.exy-border__8 {
  border: 8px black solid !important;
}
.exy-border__9 {
  border: 9px black solid !important;
}
.exy-border__10 {
  border: 10px black solid !important;
}
.exy-border__15 {
  border: 15px black solid !important;
}
.exy-border__20 {
  border: 20px black solid !important;
}
.exy-border__25 {
  border: 25px black solid !important;
}
.exy-border__30 {
  border: 30px black solid !important;
}
.exy-border__33 {
  border: 33px black solid !important;
}
.exy-border__40 {
  border: 40px black solid !important;
}
.exy-border__45 {
  border: 45px black solid !important;
}
.exy-border__50 {
  border: 50px black solid !important;
}

.exy-border__radius-0 {
  border-radius: 0px !important;
}
.exy-border__radius-1 {
  border-radius: 1px !important;
}
.exy-border__radius-2 {
  border-radius: 2px !important;
}
.exy-border__radius-3 {
  border-radius: 3px !important;
}
.exy-border__radius-4 {
  border-radius: 4px !important;
}
.exy-border__radius-5 {
  border-radius: 5px !important;
}
.exy-border__radius-6 {
  border-radius: 6px !important;
}
.exy-border__radius-7 {
  border-radius: 7px !important;
}
.exy-border__radius-8 {
  border-radius: 8px !important;
}
.exy-border__radius-9 {
  border-radius: 9px !important;
}
.exy-border__radius-10 {
  border-radius: 10px !important;
}
.exy-border__radius-15 {
  border-radius: 15px !important;
}
.exy-border__radius-20 {
  border-radius: 20px !important;
}
.exy-border__radius-25 {
  border-radius: 25px !important;
}
.exy-border__radius-30 {
  border-radius: 30px !important;
}
.exy-border__radius-33 {
  border-radius: 33px !important;
}
.exy-border__radius-40 {
  border-radius: 40px !important;
}
.exy-border__radius-45 {
  border-radius: 45px !important;
}
.exy-border__radius-50 {
  border-radius: 50px !important;
}
